/*
    
    Copyright 2019-2021 Mike Peschka

    This file is part of KaraokeMaster.
  
    KaraokeMaster is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
  
    KaraokeMaster is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
  
    You should have received a copy of the GNU General Public License
    along with KaraokeMaster.  If not, see <https://www.gnu.org/licenses/>.
  
 */

.not-playing,
.not-started,
.player,
.input-overlay,
.kiosk {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: none;
    overflow: hidden;
}

.input-overlay {
    z-index: 1000;
}

.guide-bar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background-color: black;
}

.guide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.guide .panel {
    width: 30%;
    height: 25%;
    background-color: #fff;
    color: #000;
    border-radius: 1em;
}
.guide-bar .guide .panel {
    border-radius: 0.25em;
    padding: 0.25em;
}

.guide .panel h3 {
    text-align: left;
    margin-left: 1em;
    margin-top: 0.5em;
    font-size: 3rem;
}
.guide-bar .guide .panel h3 {
    font-size: 2rem;
    float: right;
    margin-left: 0;
}

.guide .panel img {
    width: 300px;
    height: 300px;
}
.guide-bar .guide .panel img {
    width: 100px;
    height: 100px;
}

.not-playing,
.not-started {
    padding-top: 15%;
    text-align: center;
    font-size: 1rem;
}

.not-started .countdown {
    font-size: 25em;
    line-height: 0;
    animation: flyIn 1s;
}

.not-playing .version,
.not-started .version,
.guide-bar .version {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px;
    color: #555;
    font-size: 1rem;
}

.player > :last-child {
    height: 100%;
}

.player .current-track,
.player .next-track,
.player .lyrics {
    position: fixed;
    top: 0;
    padding: 5px;
    background-color: #000000aa;
    font-size: 14pt;
    cursor: none;
    z-index: 100;
}

.player .current-track {
    left: 0;
}

.player .next-track {
    right: 0;
    text-align: right;
    font-style: italic;
}

.player .lyrics {
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
    z-index: 99;
    column-count: 3;
    column-gap: 50px;
    font-size: 0.85em;
    line-height: 1.25em;
}
.player.has-overlay .lyrics {
    padding-top: 36pt;
}

.player .current-track .title,
.player .next-track .title {
    font-weight: bold;
}

.player .current-track .user,
.player .next-track .user {
    padding-left: 0.5em;
}

.player .current-track .intro,
.player .next-track .intro {
    padding-right: 0.5em;
}

.player .current-track .user svg,
.player .next-track .user svg {
    padding: 0 0.25em;
}

@keyframes growUp {
    0%   { transform:scale(0); }
    100% { transform:scale(1); }
}

@keyframes flyIn {
    0%   { transform:scale(0); opacity:0; }
    10%  { opacity: 1; }
    15% { transform:scale(1); }
    70% { opacity: 1; transform: scale(1); }
    100% { transform: scale(2); opacity: 0; }
}